.featured {
  padding: var(--spacing-2xl) 0;
  background: var(--primary-gradient); /* Add a gradient for a more professional look */
  color: var(--neutral-100);
}

.featured-more {
  padding: var(--spacing-2xl) 0;
  background: var(--primary-gradient); /* Add a gradient for a more professional look */
  color: var(--neutral-100);
  margin-top : 20px;
}

.featured-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--spacing-lg);
  text-align: center;
  cursor: pointer;
}

.featured h2 {
  text-align: center;
  font-size: var(--fs-5xl);
  margin-bottom: var(--spacing-xl);
  letter-spacing: 2px;
  color: var(--neutral-100);
}

.featured-subtitle {
  font-size: var(--fs-lg);
  color: var(--neutral-200);
  margin-bottom: var(--spacing-xl);
}

.featured-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: var(--spacing-lg);
}

.feature-card {
  background: var(--neutral-gradient); /* Subtle gradient for the cards */
  border-radius: var(--radius-lg);
  padding: var(--spacing-xl);
  text-align: left;
  box-shadow: var(--shadow-lg);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow-xl);
  background: rgba(255, 255, 255, 0.1); /* Enhance hover effect */
}

.feature-icon {
  font-size: 3rem;
  color: var(--accent-200);
  margin-bottom: var(--spacing-md);
}

.feature-card h3 {
  font-size: var(--fs-xl);
  margin-bottom: var(--spacing-md);
  color: var(--neutral-100);
}

.feature-card p {
  color: var(--neutral-300);
  line-height: 1.8;
}

@media (max-width: 768px) {
  .featured-container {
    padding: 0 var(--spacing-md);
  }
  
  .featured h2 {
    font-size: var(--fs-3xl);
    margin-top : 10px;
  }

  .featured-subtitle {
    font-size: var(--fs-md);
  }

  
}
